body {
    background-image: url(../images/train.gif);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: fixed;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Crimson Text', serif;
}

.headTitle {
    background-color: rgba(0, 0, 0, 0.804);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 0px 0px 4px 4px;
    margin-right: 240px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    margin-left: -70px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}
#train-table th,
td {
    display: inline-block;
    width: 16.5%;
    /* text-align: center; */
}


#remove-button {
    color: rgb(255, 0, 0);
    margin-left: 30%;
    border-radius: 50%;
    height: 80%;
    padding: 0 5px;
    border: 1px solid white;
}
#removetitle {
    text-align: right;
    padding-right: 5%;
}
.adding {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}
.adding.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
p {
    float: right;
}


button, .card-header {
    background: rgba(22, 22, 34, 0.804);
    color: white;
    padding-bottom: 0px;
    border-bottom: .5px solid rgba(255, 255, 255, 0.399);
}
.fa-lg {
    padding-left: 15px;
    font-size: 25px;
}



.card-body1 {

    padding: 10px 20px 50px 20px ;
}

#train, #destination, #startTime, #frequency {
    display: inline-block;
    width: 20%;
}

.mb-4 {
    background: #000000a3;
    color: white;
    border: 3px solid white;
    margin-left: -70px;

}

.panel-footer {
    background: black;
}

td :hover{
    font-weight: bold;
    background: rgba(55, 21, 21, 0.954);
    color: rgb(255, 166, 0);
}


tbody :hover{
    /* font-weight: bold; */
    color: rgb(255, 166, 0);


    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform: scale(1.0);

    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    -moz-border-radius:2x 2px 2px 2px ;
    -webkit-border-radius:2px 2px 2px 2px ;
    border-radius: 1px ;
    }

.time-moment {
    float: right;
    margin-top: -40px;
    font-size: 20px;

}

#train-hour, #train-min{
    float: left;
    width: 30%;
}

#add-train-btn {
    border: 1px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    font-size: 20px;
    padding-right: 20px;

}

.group {
    display: inline-block;

    float: left;
}

.form-control {
    width: 180px;
    margin-bottom: 3px;
    margin-right: 17px;

}
/* media query */
@media (min-width: 575px) and (max-width: 768px) {


    }
    
    @media (max-width: 574px) {
    
    }